*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'helvetica ';
}
html,
body{
  height:100%;
  width:100%;
}
.Card{
  padding:2px;
  margin:7px;
  border: 2px solid black;
  background-color:aqua;
  border-radius:3px;
}