*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'helvetica ';
}
html,
body{
  height:100%;
  width:100%;}
.parent{
  height:100%;
  width:100%;
  background-color: rgb(31, 15, 15);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap:30px;
  align-items: flex-start;
}
.card{
  margin:5px;
  padding:30px;
  height: 300px;
  width:280px;
  background-color: white;
  border-radius:30px;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
}
.card .top{
  display:flex;
  align-items: center;
  justify-content: space-between;
  
}
.top img{
  height:40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid gray;
}
.top button{
  padding:5px;
  border-radius:  5px;
  border: 1px solid gray;
  object-fit: cover;

}
.center{
  display: flex;
  flex-direction: column;
}
.center h2{margin-top:0px;
  font-size:17px;
  font-weight:500;
}
 span{
  font-size: 14px;
  font-weight: 400;
  color: rgb(195, 25, 50);}
.center h1{
  margin-top:1px;
  font-size:19px;
  font-weight:600;
}
.center h3{
  margin-top:1px;
  font-size:25px;
  font-weight:440;
}
.bottom{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top:20px;
  border-top:1px solid black;
}
.bottom button{
  padding:1px;
  border: 1px solid black;
  border-radius:5px;
}
.tag{
  display:flex;
 gap: 5px;
 

}
.tag h3{
  font-size:14px;
  font-weight: 400;
  background-color: lightgray;
  padding:3px;
 border-radius:5px;
}
.bottom button{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-top: 5px;
  background-color: black;
  color:gray
}